.main-top{
	position: absolute;
	top: 38px;
	left: calc(12% + 350px);
	height: 40px;
	line-height: 40px;
	color: #817f7f;
	font-size: 15px;
}
@media screen and (max-width: 1115px){
	.main-top{
		left: 350px;
	}
}
.main-right{
	margin-top: 130px;
	float: right;
	width: calc(100% - 350px);
	text-align: left;
	font-size: 15px;
	color: #999;
}
.main-right-con-top{
	height: 96px;
}
.main-right-con-top img{
	float: left;
}
.main-right-con-top .main-right-con-1{
	float: left;
	margin-left: 20px;
}
.main-right-con-top .main-right-con-2{
	float: right;
}
.main-right-con button{
	width: 80px;
	color: #4aa3f9;
	border: 1px solid #4aa3f9;
	border-radius: 5px;
	height: 30px;
	background-color: #fff;
	float: right;
}
.main-right-con .main-right-con-bottom{
	margin-top: 50px;
	margin-bottom: 50px;
}
.main-right-bottom{
	text-align: center;
	margin-top: 100px;
}
.main-right-bottom a{
	color: #999;
}
.main-right-bottom select{
	border-radius: 5px;
}