body{ 
	font-family:"微软雅黑";
}
header{
	min-width: 980px;
	width: 100%;
	color: #8f8d8d;
}
.contain{
	margin-left: 12%;
	margin-right: 12%;
}
.contain1{
	margin-left: 15%;
	margin-right: 15%;
}
@media screen and (max-width: 1115px){
	.contain{
		margin-left: 0;
		margin-right: 0;
	}
}
.header-top{
	font-size: 14px;
	width: 100%;
	height: 28px;
	line-height: 28px;
	background-color: #ece9e9;
}
.header-top span{
	float: right;
}
.header-top span a{
	color: #8f8d8d;
}
.header-nav{
	margin-left: 12%;
	margin-right: 12%;
	position: relative;
	height: 112px;
	font-size: 14px;
}
.header-nav a{
	color: #8f8d8d;
}
.header-nav-con p{
	position: absolute;
	right: 0;
	top: 20px;
}
.header-nav-con ul{
	position: absolute;
	bottom: 10px;
	right: 0;
}
.header-nav ul li{
	float: left;
	font-size: 16px;
	margin-left: 16px;
}
@media screen and (max-width: 1350px){
	.header-nav ul li{
		font-size: 15px;
	}
}
.header-nav ul li a:hover{
	color: #3399fe;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid #3399fe;
}
.header-nav .header-nav-con .ac a{
	color: #3399fe;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid #3399fe;
}
@media screen and (max-width: 1250px){
	.header-nav{
		margin-left: 12%;
		margin-right: 12%;
		position: relative;
		height: 104px;
		font-size: 12px;
	}
	.header-nav img{
		width: 180px;
		height: 104px;
	}
	.header-nav-con p{
		position: absolute;
		right: 0;
		top: 20px;
	}
.header-nav-con ul{
		position: absolute;
		bottom: 5px;
		right: 0;
	}
}
@media screen and (max-width: 1115px){
	.header-nav{
		margin-left: 0;
		margin-right: 0;
	}
}
.header-bottom{
	height: 40px;
	background-color: #ece9e9;
	font-size: 14px;
	color: #aba8a8;
	position: relative;
}
.header-bottom-left{
	position: absolute;
	left: 12%;
	top: 10px;
}
.header-bottom-right{
	position: absolute;
	right: 12%;
	top: 10px;
}
.header-bottom-right a{
	color: #aba8a8;
}
.bcon{
	width:600px;
	position: absolute;
	top: 6px;
	left: 32%;
}
.bcon ul li{
	float: left;
	list-style-type: disc;
	list-style-position:inside;
	padding-right: 15px;
}
.bcon a{
	color: #aba8a8;
}
@media screen and (max-width: 1200px){
	.header-bottom{
		font-size: 10px;
	}
	.bcon{
		font-size: 10px;
		left: 35%;
	}
}
.main{
	min-width: 980px;
}
.main-about{
	text-align: center;
	margin-top: 20px;
	color: #999999;
}
.main-about-left{
	margin-top: 32px;
	border-right: 2px solid #d2d2d2;
	text-align: left;
	width: 50%;
	float: left;
}
.main-about-left-img,.main-about-left p{
	width: 70%;
}
.main-about-left li{
	margin-bottom: 10px;
}
.main-about-left ul li span{
	padding-left: 5px;
	font-size: 16px;
}
.blue1{
	color: #3b6393;
}
.yellow1{
	color: #ad7e47;
}
.green1{
	color: #277c3d;
}
.main-about-p1{
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: left;
	font-size: 28px;
	color: #3399fe;
}
@media screen and (max-width: 1450px){
	.main-about-p1{
		font-size: 20px;
	}
	.main-about-p2{
		font-size: 12px;
	}
}
@media screen and (max-width: 1100px){
	.main-about-p1{
		font-size: 18px;
	}
	.main-about-p2{
		font-size: 10px;
	}
}
.main-about-p2{
	color: #999999;
	font-size: 14px;
}
.main-about-right{
	margin-top: 32px;
	float: right;
	width: 40%;
	position: relative;
	font-size: 14px;
}
.main-about-right a{
	color: #999999;
}
.main-about-right img{
	width: 85%;
}
.main-about-p3{
	text-align: left;
	border-top: 1px solid #999999;
	padding-top: 26px;
	color: #999999;
	font-size: 12px;
	margin-bottom: 36px;
}
.main-about-right-main{
	width: 85%;
	margin: 0 auto;
	position: relative;
}
.main-about-right ul{
	position: absolute;
	top: 160px;
}
.main-about-li-left{
	float: left;
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 5px;
}
.main-about-li-right{
	float: right;
	margin-bottom: 5px;
}
.main-brands{
	text-align: center;
	margin-top: 100px;
	color: #8f8d8d;
}
.main-brands-sec{
	margin-top: 30px;
	width: 23.5%;
	background-color: #ece9e9;
	min-height: 240px;
	float: left;
	padding-top: 40px;
	position: relative;
}
.main-brands-sec1{
	margin-right: 2%;
}
.main-brands-p1{
	font-size: 20px;
	position: absolute;
	bottom: 58px;
	left: 50%;
}
.main-brands-p2{
	font-size: 16px;
	position: absolute;
	bottom: 30px;
	left: 50%;
}
.main-brands-1{
	margin-left: -58px;
}
.main-brands-2{
	margin-left: -62px;
}
.main-brands-3{
	margin-left: -30px;
}
.main-brands-4{
	margin-left: -62px;
}
.main-brands-5{
	margin-left: -20px;
}
.main-brands-6{
	margin-left: -50px;
}
.main-brands-7{
	margin-left: -36px;
}
.main-brands-8{
	margin-left: -36px;
}
.main-products{
	width: 100%;
	min-width: 980px;
	margin-top: 120px;
	background-color: #ece9e9;
	padding-top: 40px;
	position: relative;
	text-align: center;
	color: #999999;
}
.main-products-con{
	margin-top: 26px;
	width: 30%;
	min-height: 270px;
	text-align: left;
	float: left;
	position: relative;
}
.main-products-con img{
	position: absolute;
	left: 0;
	top:5px;
}
.main-products-con .main-products-right{
	position:absolute;
	left: 50px;
	top: 0;
}
.main-products-con-main{
	margin-right: 5%;
}
.main-products-con .main-products-right button{
	width: 102px;
	height: 38px;
	position: absolute;
	top: 170px;
	border: 1px solid #949395;
	color: #949395;
	font-size: 18px;
	border-radius: 5px;
	background-color: inherit;
}
@media screen and (max-width: 1150px){
	.main-products-con .main-products-right button{
		top: 210px;
	}
}
.main-products-con .main-products-right button:hover{
	border: none;
	color: #fff;
	border-radius: 5px;
	background-color: #3399fe;
}
.main-products-p1{
	font-size: 22px;
	color: #3399fe;
}
@media screen and (max-width: 1270px){
	.main-products-p1{
		font-size: 18px;
	}
}
@media screen and (max-width: 1150px){
	.main-products-p1{
		font-size: 16px;
	}
}
.main-solution{
	text-align: center;
	color: #8f8d8d;
	margin-top: 108px;
}
.notice{
	height: 400px;
	overflow: hidden;
}
.notice-tit ul{
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
.notice-tit ul li{
	float: left;
	width: 13%;	
	height: 50px;
	margin-right: 1%;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
	cursor:pointer;
	color: #8f8d8d;
	font-size: 20px;
}
.notice-con{
	width: 100%;
}
.notice-con img{
	width: 100%;
}
@media screen and (max-width: 1200px){
	.notice-tit ul li{
		font-size: 18px;
	}
}
.notice-tit li.select{
	border: none;
	padding-bottom: 10px;
	color: #3399fe;
	border-bottom: 3px solid #3399fe;
}
.mod{
	margin: 80px auto;
}
.main-infor{
	margin-top: 86px;
	text-align: center;
	color: #8f8d8d;
}
.main-infor-con{
	width: 32%;
	background-color: #ece9e9;
	margin-right: 2%;
	margin-top: 20px;
	position: relative;
	padding-top: 80px;
	float: left;
	min-height: 190px;
	padding-bottom: 20px;
}
.main-infor-con a{
	color: #8f8d8d
}
.main-infor-con-p1{
	position: absolute;
	color: #3399fe;
	font-size: 20px;
	left: 15px;
	top: 16px;
}
.main-infor-con-p2{
	position: absolute;
	font-size: 16px;
	right: 15px;
	top: 20px;
}
.main-infor-con ul {
	margin-top: -20px;
}
.main-infor-con ul a{
	color: #8f8d8d;
}

.main-case{
	margin-top: 94px;
	text-align: center;
	color: #8f8d8d;
}
.MyMarqueeX {
	width: 90%; 
	height: 150px; 
	overflow: hidden; 
	margin: 20px auto 0 auto
}
.MyMarqueeX img {
	width: 162px; 
	height: 82px; 
	padding: 1px; 
	margin: 5px
}
footer{
	min-width: 980px;
	margin-top: 68px;
}
.footer-top{
	background-color: #ece9e9;
	height: 60px;
	line-height: 60px;	
}
.footer-top li{
	float: left;
	margin-right: 18px;
	color: #858585;
	font-size: 18px;
}
.footer-top li a{
	color: #858585;
	font-size: 16px;
}
.footer-bottom{
	padding-top: 20px;
	background-color: #3399fe;
	font-size: 16px;
	color: #fff;
}
.footer-bottom img{
	float: left;
	margin-top: 15px;
}
.footer-bottom .footer-bottom-con{
	float: right;	
}
@media screen and (max-width: 1330px){
	.footer-bottom{
		font-size: 14px;
	}
}