.main-top{
	position: absolute;
	top: 38px;
	left:calc(12% + 350px);
	height: 40px;
	line-height: 40px;
	color: #817f7f;
	font-size: 15px;
}
@media screen and (max-width: 1115px){
	.main-top{
		left: 350px;
	}
}
.main-right{
	margin-top: 100px;
	float: right;
	width: calc(100% - 350px);
	text-align: center;
	font-size: 15px;
	color: #999;
}
.main-right h3{
	color: #3f3f3f;
}
.main-right-con{
	text-align: left;
	margin-bottom: 80px;
}
.main-right-con-p{
	font-size: 18px;
	margin-top: 25px;
	color: #666666;
}
.main-right-button{
	margin-top: 80px;
}
.main-right button{
	height: 36px;
	line-height: 36px;
	border: none;
	width: 120px;
	border-radius: 5px;
	background-color: #3399fe;
	color: #fff;
	font-size: 14px;margin-top: 10px;
}
.main-right button:hover{
	background-color: #a3a1a1;
	color: #fff;
}
.main-right-bottom {
	text-align: left;
	font-size: 14px;
	margin-top: 120px;
	margin-bottom: 200px;
}
.main-right-bottom ul li{
	list-style-type: disc;
	float: left;
}
.main-right-bottom .main-right-bottom-li1{
	float: right;
}
.main-right-bottom ul li a{
	color: #999999;
}