.main-top{
	position: absolute;
	top: 38px;
	left: calc(12% + 330px);
	height: 40px;
	line-height: 40px;
	color: #817f7f;
	font-size: 15px;
}
@media screen and (max-width: 1115px){
	.main-top{
		left: 330px;
	}
}
.main-right{
	margin-top: 100px;
	float: right;
	width: calc(100% - 330px);
	text-align: center;
	font-size: 15px;
	color: #999;
}
.main-right h3{
	color: #3f3f3f;
}
.main-right-con{
	text-align: left;
}
.main-right-con-p1{
	text-indent: 2em;
}
.main-right-button{
	margin-top: 120px;
}
.main-right button{
	height: 50px;
	line-height: 50px;
	border:none;
	border-left: none;
	width: 130px;
	background-color: #4aa3f9;
	color: #fff;
	font-size: 12px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.main-right-button1{
	float: left;
	margin-left: 50px;
}
.main-right-button2{
	float: right;
	margin-right: 50px;
}
.main-right .button1{
	/*border: 1px solid #5b5f63;*/
	border-right: 1px solid #fff;
	width: 60px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}